/*
*
*
* Colors
*
*/
.home #masthead {
  position: relative;
  padding: 50px 0;
  border: 10px solid #bea05a;
}
#masthead {
  padding: 25px 0;
  background: #f8f4ec;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#masthead .logo {
  position: relative;
  z-index: 3;
  text-align: center;
}
.nav {
  padding-top: 40px;
}
.nav span {
  border-bottom: 4px solid #bea05a;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
.nav span:hover {
  border-bottom: 4px solid #144678;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
.nav.nav-right {
  text-align: left;
}
.nav.nav-left {
  text-align: right;
}
.intro {
  padding: 100px 0;
}
#container .mix {
  display: none;
}
#container .article {
  margin: 20px 0;
  position: relative;
}
#container .article .pic-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(20, 70, 120, 0.85);
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  border: 10px solid #bea05a;
}
#container .article:hover {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(20, 70, 120, 0.9);
  -moz-box-shadow: 0px 2px 10px 0px rgba(20, 70, 120, 0.9);
  box-shadow: 0px 2px 10px 0px rgba(20, 70, 120, 0.9);
}
#container .article:hover .pic-caption {
  opacity: 1;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.sidebar article {
  margin-bottom: 30px;
}
.pagination a:hover {
  border-radius: 40px;
}
.pagination .current {
  padding: inherit;
  background: #144678;
  border-radius: 40px;
}
#mailbox {
  padding: 100px 0 100px 0;
  background: #144678;
  text-align: center;
}
#mailbox img {
  margin: 20px 0;
}
#mailbox h1 {
  color: white;
}
#footer-container {
  padding: 100px 0 100px 0;
  margin: 0;
  border: none;
  background: #bea05a;
  text-align: center;
}
#footer-container h6 {
  color: white;
}
/* 
*  
*	General
*
*/
body {
  font-family: 'CircularBook';
  font-size: 14px !important;
  line-height: 1.8;
  color: #144678;
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'CircularBlack';
  color: #bea05a;
  margin: 0 0 20px 0;
  padding: 0;
}
h1 {
  text-shadow: 1px 1px 0px rgba(20, 70, 120, 0.1);
  font-size: 60px;
  line-height: 53px;
  border-bottom: 4px solid #bea05a;
}
h2 {
  font-size: 40px;
  line-height: 33px;
}
h3 {
  font-size: 30px;
  line-height: 23px;
}
h4 {
  font-size: 20px;
  line-height: 13px;
}
h5 {
  font-size: 18px;
  line-height: 11px;
}
h6 {
  font-size: 16px;
  line-height: 9px;
}
@media screen and (max-width: 780px) {
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
  h3 {
    font-size: 18px;
    line-height: 18px;
  }
  h4 {
    font-size: 16px;
    line-height: 16px;
  }
  h5 {
    font-size: 14px;
    line-height: 14px;
  }
  h6 {
    font-size: 12px;
    line-height: 12px;
  }
}
hr {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
}
a,
.links {
  cursor: pointer;
  color: #bea05a !important;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  text-decoration: none;
}
a:hover,
.links:hover,
a.active,
.links.active {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  color: #144678 !important;
  text-decoration: none;
}
/* 
*  
*	FONTS
*
*/
@font-face {
  font-family: 'CircularBook';
  src: url('http://localhost:8888/jyvais/wp-content/themes/jyvais/less/../assets/fonts/lineto-circular-book.eot');
  src: url('http://localhost:8888/jyvais/wp-content/themes/jyvais/less/../assets/fonts/lineto-circular-book.eot?#iefix') format('embedded-opentype'), url('http://localhost:8888/jyvais/wp-content/themes/jyvais/less/../assets/fonts/lineto-circular-book.woff2') format('woff2'), url('http://localhost:8888/jyvais/wp-content/themes/jyvais/less/../assets/fonts/lineto-circular-book.woff') format('woff'), url('http://localhost:8888/jyvais/wp-content/themes/jyvais/less/../assets/fonts/lineto-circular-book.ttf') format('truetype'), url('http://localhost:8888/jyvais/wp-content/themes/jyvais/less/../assets/fonts/lineto-circular-book.svg#moderatregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CircularBlack';
  src: url('http://localhost:8888/jyvais/wp-content/themes/jyvais/less/../assets/fonts/lineto-circular-black.eot');
  src: url('http://localhost:8888/jyvais/wp-content/themes/jyvais/less/../assets/fonts/lineto-circular-black.eot?#iefix') format('embedded-opentype'), url('http://localhost:8888/jyvais/wp-content/themes/jyvais/less/../assets/fonts/lineto-circular-black.woff2') format('woff2'), url('http://localhost:8888/jyvais/wp-content/themes/jyvais/less/../assets/fonts/lineto-circular-black.woff') format('woff'), url('http://localhost:8888/jyvais/wp-content/themes/jyvais/less/../assets/fonts/lineto-circular-black.ttf') format('truetype'), url('http://localhost:8888/jyvais/wp-content/themes/jyvais/less/../assets/fonts/lineto-circular-black.svg#moderatregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
