@import "mixins.less";
@import "colors.less";

#mailbox{
	padding: 100px 0 100px 0;
	background: @blue;
	text-align: center;
	img {
		margin: 20px 0;
	}
	h1 {
		color: white;
	}
}
#footer-container {
	padding: 100px 0 100px 0;
	margin: 0;
	border: none;
	background: @gold;
	text-align: center;
	h6 {
		color: white;
	}
}